# Database Connection String (PostgreSQL / Neon Serverless Postgres)
DATABASE_URL=postgresql://neondb_owner:npg_rFvRn3LNpm0q@ep-fancy-morning-ax0tgw8p-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require

# MapTiler API Key (Optional override, default key is included in frontend)
MAPTILER_API_KEY=CRFoY3RXgAloQLarTcRL
